<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title> 	
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link href="{{ "/css/bootstrap.css, " | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/bootstrap-responsive.css, " | prepend: site.baseurl }}" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Economica:700,400italic">
	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  	<!-- <link rel="stylesheet" href="http://wordbank.stanford.edu/static/third_party/bootstrap3/css/bootstrap-spacelab.min.css"> -->
  	<!-- <link rel="stylesheet" href="http://wordbank.stanford.edu/static/third_party/bootstrap3/css/bootstrap-theme.css.map"> -->
  	<!-- <link rel="stylesheet" href="http://wordbank.stanford.edu/static/css/base.css"> -->

  	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-106399579-1', 'auto');
	 ga('send', 'pageview');
	</script>

</head>
<body>
	
	<!--start: Header -->
	<header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Row -->
			<div class="row">
					
				<!--start: Logo -->
				<div class="logo span3">
						
					<!-- <a class="brand" href="index.html"><img src="img/logo.png" alt="Logo"></a> -->
					<a class="brand" href="index.html" style="text-decoration: none"><h1 style="margin-top:13px;"> childes-db </h1></a>
						
				</div>
				<!--end: Logo -->
					
				<!--start: Navigation -->
				<div class="span9">
					
					<div class="navbar navbar-inverse">
			    		<div class="navbar-inner">
			          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			          		</a>
			          		<div class="nav-collapse collapse">
			            		<ul class="nav">
			            			<li><a href="api.html">API Tutorial</a></li>
			            			<li><a href="analyses.html">Visualizations</a></li>
			            			<li><a href="docs.html">Documentation</a></li>
			            			<li><a href="releases.html">Releases</a></li>
			              			<li><a href="about.html">About</a></li>

			              			<!-- <li><a href="faq.html">FAQ</a></li> -->
			            		</ul>
			          		</div>
			        	</div>
			      	</div>
					
				</div>	
				<!--end: Navigation -->
					
			</div>
			<!--end: Row -->
			
		</div>
		<!--end: Container-->			
			
	</header>
	<!--end: Header-->

	<!-- <div>
	<img style="float: left;" src="http://dummyimage.com/100X100/000/fff" />
			<div style="float: left;">This is text</div>
			<img style="float: right;" src="http://dummyimage.com/100X100/000/fff" />
	</div> -->

	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			

				<!-- <h2><i class="ico-stats ico-white"></i>About childes-db</h2> -->

			
			<!-- end: Container  -->

		</div>	

	</div>

	{{ content }}    				
	
	


<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.8.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/flexslider.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/jquery.cslider.js"></script>
<script src="/js/slider.js"></script>
<script defer="defer" src="/js/custom.js"></script>
<!-- end: Java Script -->

</body>
</html>
